@{
    ViewData["Title"] = $"Launch - {Model.Launch.Name}";
}


<div class="text-center">

    <vc:top-image-container image=@Model.Launch.Image name=@Model.Launch.Name contain-image=true></vc:top-image-container>
    <div class="list-group-container">
    <ul class="list-group">
        <li class="list-group-item"><strong>Name</strong>: @Model.Launch.Name</li>
        <li class="list-group-item"><strong>Description</strong>: @(Model.Launch.Details != null ? Model.Launch.Details : "-")</li>
        <li class="list-group-item"><strong>Rocket</strong>: <a href="/rocket/@Model.Launch.Rocket.Id">@Model.Launch.Rocket.Name</a></li>
        <li class="list-group-item"><strong>Static Fire date</strong>: @(Model.Launch.StaticFireDate != null ? Model.Launch.StaticFireDate : "-")</li>
        <li class="list-group-item"><strong>Launch date</strong>: @(Model.Launch.StaticFireDate != null ? Model.Launch.LaunchDate : "-")</li>
        <li class="list-group-item"><strong>Succeeded</strong>: @(Model.Launch.Success != null ? (Model.Launch.Success ? "Yes" : "No") : "-")</li>
    </ul>
    </div>



</div>
