@{
    ViewData["Title"] = "Launch";
}


<div class="text-center">

    <vc:top-image-container image=@ViewBag.launch.Image name=@ViewBag.launch.Name contain-image=true></vc:top-image-container>
    <div class="list-group-container">
    <ul class="list-group">
        <li class="list-group-item"><strong>Name</strong>: @ViewBag.launch.Name</li>
        <li class="list-group-item"><strong>Description</strong>: @(ViewBag.launch.Details != null ? ViewBag.launch.Details : "-")</li>
        <li class="list-group-item"><strong>Rocket</strong>: <a href="/rocket/@ViewBag.launch.Rocket.Id">@ViewBag.launch.Rocket.Name</a></li>
        <li class="list-group-item"><strong>Static Fire date</strong>: @(ViewBag.launch.StaticFireDate != null ? ViewBag.launch.StaticFireDate : "-")</li>
        <li class="list-group-item"><strong>Launch date</strong>: @(ViewBag.launch.StaticFireDate != null ? ViewBag.launch.LaunchDate : "-")</li>
        <li class="list-group-item"><strong>Succeeded</strong>: @(ViewBag.launch.Success != null ? (ViewBag.launch.Success ? "Yes" : "No") : "-")</li>
    </ul>
    </div>



</div>
